/*
Sources consulted: https://www.w3schools.com/howto/howto_js_rangeslider.asp
*/
body{
    color: white;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}

canvas{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    
}

 div.padleft{
     padding-left: 3%;
 }

 .button {
   background-color: black;
   border: none;
   color: white;
   padding: 16px 16px;
   text-align: center;
   font-size: 52px;
   margin: 4px 2px;
   opacity: 0.6;
   transition: 0.3s;
   display: inline-block;
   text-decoration: none;
   cursor: pointer;
 }
 
 .button:hover {opacity: 1}

 div.bcenter{
    text-align: center;
 }
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.space{
  animation-duration: 4.5s;
  animation-name: fadeInUp;
}

.slidecontainer {
    width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  
    padding: 0%;
    appearance: none;
    width: 100%; 
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 60px; 
    height: 60px;
    background: url('media/spaceship1.png') no-repeat center;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    background: url('media/spaceship1.png') no-repeat center;
    cursor: pointer;
}


@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none; } }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp; }

    @media screen and (max-width: 800px) {
        body {
          background-color: #999999; } }

.controls{
    padding: 0%;
    line-height: 0 px;
    position: absolute;
    bottom: 0;
    width: 95%;
}
.table{
    font-size: 9px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.label{
    margin-bottom: 15px;
}